{
    "parser": "babel-eslint",
    "extends": "airbnb",
    "plugins": [
        "import"
    ],
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
          "jsx": true
        }
    },
    "env": {
        "browser": true,
        "es6": true
    },
    "rules": {
      "semi": "off",
      "brace-style": "off",
      "react/prefer-stateless-function": "off",
      "arrow-body-style": "off",
      "comma-dangle": "off",
      "no-use-before-define": "off",
      "class-methods-use-this": "off",
      "no-console": "off",
      "implicit-arrow-linebreak": "off",
      "function-paren-newline": "off",
      "react/jsx-filename-extension": "off",
      "react/prop-types": "off"
    }
}
