.btn {
  border-radius: $btn-radius;
  border: 1px solid #ddd;
  cursor: pointer;
  font-family: $font-primary;
  font-size: $btn-font-size;
  height: 40px;
  padding: 0 20px;
  text-transform: uppercase;

  &.btn.btn--primary {
    background-color: $primary;
    border-color: $primary;
    color: #fff;

    &.btn--outline {
      color: $primary;
    }
  }
  &.btn--secondary {
    background-color: $secondary;
    border-color: $secondary;
    color: #fff;

    &.btn--outline {
      color: $secondary;
    }
  }
  &.btn--outline {
    background-color: #fff !important;
  }
  &.btn--fab, &.btn--icon {
    height: 45px;
    padding: 0 !important;
    width: 45px;

    svg {
      font-size: 18px !important;
    }
  }
  &.btn--fab {
    border-radius: 50%;
  }
  &.btn--xs {
    font-size: $btn-font-size-small;
    height: 35px;
    padding: 0 15px;

    &.btn--fab, &.btn--icon {
      height: 35px;
      width: 35px;

      svg {
        font-size: 14px !important;
      }
    }
  }
  &.btn--featured {
    align-items: center;
    display: inline-flex;

    svg {
      font-size: 18px !important;
    }
    span {
      font-family: $font-secondary !important;
      margin-left: 10px !important;
    }

    &.btn--xs {
      svg {
        font-size: 14px !important;
      }
      span {
        margin-left: 7px !important;
      }
    }
  }
  &:disabled {
    background-color: $gray--silver !important;
    border-color: $gray--light !important;
    color: $gray--light !important;
    cursor: not-allowed;
  }
}