$primary: #F89937;
$secondary: #2196F3;
$white: #fff;
$cyan: #0099CC;
$cyan--light: #DEF5FD;
$green: #00AF3F;
$orange: #FF6319;
$red: #FF0048;
$blue: #0075B0;
$blue--dark: #00375E;
/* secondary palette */
$magenta: #EE2C70;
$purple: #6837C8;
/* grayscale */
$gray: #444;
$gray--print: #8B8D8E;
$gray--bright: #F3F3F3;
$gray--silver: #E7E7E7;
$gray: #8B8D8E;
$gray--light: #C8C7C7;
$gray--dark: #333333;

$font-primary: "Roboto";
$font-secondary: "Exo";
$font-alternative: "Source Sans Pro";

$btn-font-size: 12px;
$btn-font-size-small: 11px;
$btn-radius: 0;

$easeOut: cubic-bezier(0.19, 1, 0.22, 1);